<!DOCTYPE html>
<html lang="en">
<head>
	<title>Search Page</title>
</head>
<body style="background-color:lightgrey">
    <div style="margin-left: 35%;background-color:aqua; width: 300px;height: 300px; margin-top: 80px;">
          <h2 style="margin-left: 20%;padding-top: 028px;">User Search</h2>
          <form action="" method="POST"  >
            <!-- <label for="nm">Name:</label>
            <input style="margin-left: 20px"name="nm" type="text">
            <label for="usrnm">UserName:</label>
            <input name="usrnm" type="text">
            -->
              <table cellspacing=10, cellpading=10>
                <!-- <tr>
                    <td>Name:</td>
                    <td><input type="text" name="name"></td>
                </tr> -->
                  <tr>
                      <td>UserName:</td>
                      <td><input type="text" name="username"></td>
                  </tr>
                  <!-- <tr>
                    <td>Password:</td>
                    <td><input type="text" name="password"></td>
                  </tr>
                  <tr> -->
                    
                    <td colspan="2"><input type="submit" value="Register" style="margin-left: 33%; margin-top: 18px; width: 100px;"></td>
                  </tr>
              </table>
          </form>
          <div style=" margin-left:20%">
            {% for time in times %}
           <p style="margin-left:15px ; font: bolder;"> {{ time['name'] }} {{ time['username'] }}</p>
           {% endfor %}
        </div>
          
    </div>
    
</body>